body{
    font-size: 16px;
    line-height: 1.8;
    color: #f5f6f7;
    font-family: 'Noto Sans KR', sans-serif;
}


.container-fluid{
    padding: 70px 0;
}

.margin{
    margin-left: 20px;
}
.margin-b{
    margin-bottom: 50px;
}

/* header  */
header{
    position: fixed;
    z-index: 99;
    width: 100%;
}

/* header end  */

/* slider  */
.main-slider{
    width: 100%;
    height: 900px;
    overflow: hidden;
    font-size: 0;
    position: relative;
    top: 70px;
}
.main-slider>div{
    position:absolute;
}
.banner img{
    width: 100%;
} 

/* slider end  */

/* section01  */
.text>h3{
    font-size: 15px;
}
.padding-t-b{
    padding: 20px 0;
}
/* section01 end  */

/* section02  */
.hover{
    overflow: hidden;
    width: 100%;
    padding: 0!important;
}
.over:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
}
.over{
    width: 100%;
    height: 300px;
    padding: 70px 0;
    cursor: pointer;
    -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.bg-1{
    background: url(../image/view/luone-city-view01jpg.jpg);
    background-size: cover;
    background-position: center;
}
.bg-2{
    background: url(../image/view/luone-city-view02.jpg);
    background-size: cover;
    background-position: center;
}
.bg-3{
    background: url(../image/view/luone-city-view03.jpg);
    background-size: cover;
    background-position: center;
}
.white_span{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    border: 1px solid #fff;
    display: block;
    margin: 15px auto;
}

.over:hover .white_span{
    background-color: #d62031;
}
.over:hover .white_span>i{
    color: #fff;
}
/* section02 end  */

/* m_logo  */
    .logo_img>img{
        width: 60%;
    }
/* m_logo end  */

/* pr-section  */
.pr_sec {
    background: url(../image/bg_img/pr_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;
    margin-top: 50px;
}
.pr-bg-1{
    background: url(../image/pr_sec/interior.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.pr-bg-2{
    background: url(../image/pr_sec/modelhouse.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.pr-over,.pr-cont-hover{
    padding-top: 50px;
}
.pr-bg-3{
    width: 100%;
    height: 240px;
    background: #fff;
}
.pr-over span,.pr-cont-over span{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    border: 1px solid rgba(0,0,0,.4);
    display: block;
    margin: 15px auto;
}

.pr-hover{
    overflow: hidden;
    width: 100%;
}
.pr-over{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.pr-over:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.pr-over,.pr-cont-over{
    cursor: pointer;
}

.pr-cont-over:hover span,.pr-over:hover span{
    background-color: #d62031;
}
.pr-cont-over:hover i,.pr-over:hover i{
    color: #fff;
}
/* pr-section end */

/* partner-sec */
.partner-sec{
    margin-top: 70px;
}
.logo-img{
    width: 100%;
    height: 80px;
    border: 1px solid rgba(0,0,0,.3);
    padding-top: 10px;
}
.logo-img>img{
    width: 70%;
}
/* partner-sec end  */

/* footer  */
.footer-logo img{
    width: 150px;
}


.contact-num>p{
    margin: 0;
    font-size: 0.8rem;
    padding-top: 10px;
}
.contact-num h3{
    font-weight:700;
}
.footer-text>p{
    font-size: 0.9rem;
    color: rgb(130, 130, 130);
}
/* footer end  */


@media(max-width:1500px){
    .main-slider{
        height: 700px;
    }
}
@media(max-width:1200px){
    .main-slider{
        height: 500px;
    }
}
@media(max-width:990px){
    body{
        font-size: 14px;
    }

    /* section01 */
    .premium>h1{
        font-size: 30px !important;
    }

    /* pr section  */
    .pr-cont-over>img{
        width: 100%;
    }

    /* footer  */
    .num{
        padding-top: 5px !important;
    }
}
@media(max-width:768px){
    .main-slider{
        height: 400px;
    }
    .container-fluid{
        padding: 30px 0;
    }
    .logo-img{
        height: 60px;
    }
    
    .navbar-nav{
        float: right;
    }
    
    /* pr section  */
    .pr_sec{
        padding: 50px 0;
    }
    .pr-hover{
        margin-bottom: 20px;
    }
    .pr-cont-over>img{
        width: 60%;
    }

    /* .partner-sec */
    .partner-sec{
        margin-top: 50px;
    }

    /* footer  */
    .footer-text{
        padding-top: 5px !important;
    }
    .footer-text>p{
        font-size: 12px;
    }

    .contact-num>h3{
        font-size: 20px;
    }
}
@media(max-width:540px){
    body{
        font-size: 12px;
    }
    .main-slider{
        height: 300px;
    }

    /* section01  */
    .premium>h1{
        font-size: 20px !important;
    }
    .text>h1{
        font-size: 1.3rem;
    }
    .text>h3{
        font-size: 1rem;
    }
    .border-top{
         display: flex;
    }
    .img>a>img{
        width: 140px !important;
        position: absolute;
        top: -110px;
        left: 60%;
    }

    /* partner-sec */
    .partner-sec{
        display: none;
    }
    .f-nav{
        display: none !important;
    }

}
@media(max-width:411px){
    .main-slider{
        height: 250px;
    }
     /* section01  */
     .img>a>img{
        width: 130px !important;
        position: absolute;
        top: -110px;
        left: 60%;
    }
}
@media(max-width:320px){

}